@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@{
    var Route = HttpContext.Current.Request.RequestContext.RouteData;
    var controllerName = Route.Values["controller"].ToString();
    var actionName = Route.Values["action"].ToString();
    var isHomepage = controllerName == "Home" && actionName == "Index";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")
<div id="wrapper">
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div class="content">
        <header class="clearfix">
            <a href="/" class="logo-linkor"><img src="/Themes/2016/Content/img/logoLinlor.png" alt="linkor"></a>
            <div class="social right">
                <a href="https://www.facebook.com/linkorskimboards/?pnref=lhc" class="icon-fb"></a>
                <a href="https://vimeo.com/search?q=linkorskimboards" style="position: relative; display: inline-block; float: left; margin-right: 28px; margin-top: 4px;">
                    <img src="/Themes/2016/Content/img/vimeo-logo.png" style="height: 30px">
                </a>
                @Html.Action("LanguageSelector", "Common")
            </div>
            <a href="#" id="touch-menu"><span></span></a>
            @Html.Action("TopMenu", "Catalog")
        </header>
        @if (isHomepage)
        {
            <div id="slider">
                <ul class="bxslider">
                    <li><img src="/Themes/2016/Content/img/Linkor-wake-1.jpg" alt="Linkor-wake-1" /></li>
                    <li><img src="/Themes/2016/Content/img/Linkor-wake-2.jpg" alt="Linkor-wake-2" /></li>
                    <li><img src="/Themes/2016/Content/img/Linkor-wake-3.jpg" alt="Linkor-wake-3" /></li>
                    <li><img src="/Themes/2016/Content/img/Linkor-wake-4.jpg" alt="Linkor-wake-4" /></li>
                    <li><img src="/Themes/2016/Content/img/Linkor-wake-5.jpg" alt="Linkor-wake-4" /></li>
                    <li><img src="/Themes/2016/Content/img/Linkor-wake-6.jpg" alt="Linkor-wake-4" /></li>
                </ul>
                <a href="#" id="linkorWake">
                    <h2>LINKOR WAKE</h2>
                </a>
            </div>
        }
        <section class="container clearfix">
            @RenderBody()
        </section>
        @if (isHomepage)
        {
            <article class="clearfix">
                <img src="/Themes/2016/Content/img/img-footer.jpg" alt="img-girls" width="1920" height="600">
                <div class="wrap-info">
                    @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
                </div>
            </article>
        }
    </div>
    <footer>
        <div class="social left">
            <p>@T("jointous")</p>
            <div class="social-wrap">
                <a href="https://www.facebook.com/linkorskimboards/?pnref=lhc" class="icon-fb"></a>
            </div>
        </div>
        <div class="copyright right">
            <p>&copy; @DateTime.Now.Year Linkor Skimboards</p>
        </div>
    </footer>
</div>
@Html.Widget("body_end_html_tag_before")





