@model CategoryNavigationModel
@using Nop.Web.Models.Catalog;


@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }
}
@helper RenderCategoryLine(CategorySimpleModel category)
{
    bool active = category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
    bool last = category.Id == Model.CurrentCategoryId;
    string liClass = active ? "active" : "inactive";
    if (last)
    {
        liClass += " last";
    }
        <li class="@liClass">
            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
        </li>
}
<h2 class="category">@T("Categories")</h2>
<ul class="nav">
    @foreach (var category in Model.Categories)
    {
        @RenderCategoryLine(category)
    }
</ul>

