@model TopMenuModel
@using Nop.Web.Models.Catalog;

<ul class="top-nav">
    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
    <li><a href="@Url.RouteUrl("Category", new { SeName = "skimboards" })">@T("Shop")</a></li>
    <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
    @foreach (var topic in Model.Topics)
    {
        <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
    }
    @Html.Action("FlyoutShoppingCart", "ShoppingCart")
</ul>




